p{
  font-size: 100%;
}   
blockquote{
  font-size: 90%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  margin: auto;
  width: 50%;
  padding: 10px;
}

img.square-img {
  width: 70%;
}
img.header-img {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  [class*="square-img"] {
    width: 100%;
  }
  figcaption {
    width: 100%;
  }
}
